<%= form_for([@post, @post.comments.build]) do |f| %>  
  <div class="field">
    <%= f.text_area :body, :class => "span12", :style => "height: 150px" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>